# This .gitignore file is optimized for Unity projects in 2026.

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Aa]ssets/AssetStoreTools/

# Visual Studio & MonoDevelop
[Ee]xport[Ee]xecutable[Bb]uilds/
.vs/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db
*.VC.opendb

# Crash Reports
[Rr]eports/

# Unity Cache
[Uu]nity[Ee]ditor[Cc]onfiguration/
[Uu]nity[Ee]ditor[Ee]xternal[Tt]ools/
[Uu]nity[Ee]ditor.[Cc]rash[Rr]eport/
[Uu]nity[Ee]ditor.[Nn]ew[Uu]i.[Cc]rash[Rr]eport/

# Optional
# [Mm]anifest.json # Uncomment if you don't want to track package changes

# Created by JetBrains www.jetbrains.com
_ReSharper[#]/
*.DotSettings.user